// main:../_content.less
.features {
	padding: 120px 0;
	background-color: @main-color;
}

.features__row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}

.features__image {
	.wh(91px,91px);
	margin: 0 auto;
}

.features__image img {
	.wh(100%,100%);
}

.features__title-h2 {
	.font(42px, 60px, "Montserrat__Bold", @sub-main-color, center);
	font-weight: bold;
	margin-bottom: 120px;
}

.features__title {
	.font(30px, 60px, "Montserrat__Regular", @sub-main-color, center);
	margin-top: 75px;
}
