// main:../_content.less

.flying {
	&:extend(.pos-rel);
	height: 870px/1180px*100vh;
}

.flying-bg {
	background-color: @main-color;
}

.flying__image {
	position: absolute;
	top: 50%;
	right: -10%;
	transform: translatey(-50%);
}


.flying__title {
	color: @sub-main-color;
	text-align: left;
	max-width: 850px;
}


.flying__bth {
	color: @sub-main-color;
	background-color: @main-color;
	border: 1px solid #000;
}