// main:../_content.less
.fly {
	display: grid;
	grid-template-columns: 30% 70%;
	height: 615px/1180px*100vh;
}

.left-block__discription {
	margin-left: 100px;
}

.left-block__title {
	margin-bottom: 15px;
	line-height: 30px;
}

.left-block {
	background: url("@{way-img}/fly/Circle.png") no-repeat center/cover;
	display: flex;
	align-items: center;
}

.right-block {
	&:extend(.pos-rel);
	background: url("@{way-img}/fly/bg.png") no-repeat center/cover;
	
}
.right-block:before{
	content: "";
	&:extend(.pos-abs);
	width: 500px;
	height: 100%;
	background:@sub-main-color no-repeat center/cover;
	opacity: 0.7;

}

.right-block__discription {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.title--line-height {
	line-height: 60px;
}

.fly__title-one {
	line-height: 60px;
	
}

.right-block__title {
	.font(60px,60px,@main-color);
	margin-left: 90px;
	max-width: 450px;
	z-index: 0;
}

.bth {
	.font(18px, 30px, "Montserrat__Bold", @sub-main-color);
	border-radius: round((28px/18px)*1em);
	padding: round((32px/18px)*1em);
	height: round((60px/18px)*1em, 1);
	transition-duration: 1s;
	@media screen and (max-width:764px) {
		.font-size-adaptiv(18px,10px,764,320px);
	}
	
}
.fly__bth {
	transform: rotate(90deg);
	margin-right: 190px;
	background-color: @main-color;
	transition: background-color 1s ease;
}
.fly__bth:hover{
	background-color:	darken(@main-color,20%);
}

