// main:../_content.less
.journey--bg {
	background:url("@{way-img}/journey/Photo.png") no-repeat center/cover;
	height: 100vh;
}

.journey__block {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 400px;
}
.journey__title--color{
	color: @main-color;
}
.journey__bth {
	color: #318f76;
	margin-top: 25px;
	background-color: @main-color;
}
