// main:../_content.less
.journey {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.journey--bg {
	background:url("@{way-img}/journey/Photo.png") no-repeat center/cover;
	height: 100vh;
}

.title {
	.font(92px, 102px, "Montserrat__Bold", @main-color);
	margin-top: 650px;
	margin-bottom: 60px;
}

.journey__bth--color {
	color: #318f76;
}