// main: _preprocessor.less

@import "_mixins(fonts).less";

.wh(@w, @h) {
	width: @w;
	height: @h;
}


.pos-r(@value-1: 0, @value-2: 0) {
	position: relative;
	top: @value-1;
	right: @value-2;
}

.pos-a(@value-1: 0, @value-2: 0) {
	position: absolute;
	top: @value-1;
	right: @value-2;
}

@grid: 1600px;
@grid-1: 1280px;
@grid-2: 1000px;
@grid-3: 768px;
@grid-4: 480px;

.conteiner() {

	.conteiner {
		height: 100%;
		max-width: @grid;
		margin: 0 auto;
		padding: 0 15px;
	}

	@media screen and (max-width:1600px) {
		.conteiner {
			max-width: @grid-1;
		}
	}

	@media screen and (max-width:1279px) {
		.conteiner {
			max-width: @grid-2;
		}
	}

	@media screen and (max-width:999px) {
		.conteiner {
			max-width: @grid-3;
		}
	}

	@media screen and (max-width:767px) {
		.conteiner {
			max-width: @grid-4;

		}
	}
}



