// main:_preprocessor.less

@color: rgba(71, 3, 3, 0.938);
@whiti: rgb(1, 225, 255);
@color1: rgb(3, 199, 199);

@way-img: '../assets/images';

@main-color: #fff;

@sub-main-color: #000;

@text-color: #92a1a5;

@header-bg-text: #ff343d;