// main:_preprocessor.less

@color: rgba(48, 42, 42, );
@whiti: rgb(1, 225, 255);
@color1: rgb(3, 199, 199);

@way-img: '../assets/images';
@way-fonts: '../assets/fonts';

@main-color: #fff;
@sub-main-color: #000;
@text-color: #92a1a5;
@header-bg-text: #ff343d;
@vision-color-bg: #232323;