// main:_structure.less

//==========================================================================
.header {
	&:extend(.pos-rel);
}

.header--bg {
	.pos-a();
	.wh(760px/1920px*100vw, 100vh);
	background: @header-bg-text center/cover no-repeat;
	z-index: -1;
	overflow: hidden;
}

.header--bg::after {
	content: "mars";
	.font(450px, 0px, "Montserrat__Bold", @header-bg-text);
	.pos-a(-3%, 28%);
	writing-mode: vertical-lr;
	text-transform: uppercase;
	text-shadow: 0 0 55px/288.36px*1em rgb(187, 2, 2);
}

.conteiner();

.header__body {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, [col-start] 1fr);
	grid-template-rows: repeat(3, [col-start] 1fr);
	gap: 15px 15px;
}

.header__tel-logo {
	margin-bottom: 100px;
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-column: col-start 1/span 3;
	grid-row: col-start 1/span 1;
}

//-------------title__logo-------------------

.header__logo {
	margin-right: 50px;
	align-self: center;
	justify-self: start;
}

.logo::before {
	content: "";
	.pos-a(0, -25%);
	.wh(15px, 15px);

	background:url("@{way-img}/header/icon.png") no-repeat center/cover;

}

.logo {
	&:extend(.pos-rel);
	.font(24px, 30px, "Montserrat__Bold");
}

//-------------title__logo-------------------
//-------------text__tel-------------------
.tel {
	&:extend(.pos-rel);
	.font(14px, 30px, "Montserrat__Regular", @text-color);
	align-self: center;
	justify-self: start;
}

.tel::before {
	content: "";
	.pos-a(50%, 100%);
	.wh(15px, 15px);
	transform: translate(-50%, -50%);
	background: url("@{way-img}/header/Phone.png") no-repeat center/cover;

}

//-------------text__tel-------------------
.header__menu {
	margin-bottom: 100px;
	display: grid;
	grid-template-columns:12fr 1fr;
	grid-column: col-start 1/span 3;
	grid-row:col-start 1 /span 1;
	
}

.header__title {
	.font(16px, 30px, 'Montserrat__Bold', @main-color);
	align-self: center;	
	justify-self: end;
	transition: border-bottom 1s ease;
}

.header__title:before {
	content: "";
	.pos-a(100%);
	.wh(100%, 2px);

	background-color: @text-color;
	transform: scale(0);
	transition: transform 1s ease;
}

.header__title:hover:before {
	content: "";
	transform: scale(1);
}

//------------------------header__burger-----------------------------
.header__burger {
	.wh(24px, 14px);
	&:extend(.pos-rel);

	cursor: pointer;
	align-self: center;
	justify-self: end;
}

.header__burger span,
.header__burger::after,
.header__burger::before {
	content: "";
	.wh(100%, 2px);
	.pos-a(0, 0);

	background-color: @main-color;
	transition: transform 1s ease, top 1s ease, box-shadow 1s ease;
	box-shadow: 0 0 10px @main-color;
}

.header__burger span {
	.pos-a(7px, 0);
}

.header__burger::after {
	.pos-a(100%, 0)
}

.header__burger.active span {
	transform: scale(0);
}

.header__burger.active:after {
	transform: rotate(45deg);
	.pos-a(50%, 0)
}

.header__burger.active:before {
	transform: rotate(-45deg);
	.pos-a(50%, 0)
}

//-----------------------header__burger------------------------------
.header__slider {
	grid-column: col-start 1/span 1;
	grid-row: col-start 2/span 1;
	align-self: center;
	justify-self: row;
	margin-left: 60px
}

.header__slider-items {
	.wh(7px, 7px);
	margin-top: 20px;
	border-radius: 50%;
	background-color: #e2e0e0;
	transition: background-color 1s ease;
}

.header__slider-items:nth-of-type(1) {
	margin: 0;
}

.header__slider-items--active {
	background-color: @header-bg-text;
}

.header__slider-items:hover {
	background-color: @header-bg-text;

}

.header__description {
	margin-left: 120px;
	align-self: center;

	grid-column: col-start 1/span 1;
	grid-row: col-start 2/span 1;
	
}

.title {
		.font(60px,30px,"Montserrat__Bold");
		@media screen and(max-width:1600px)  {
			.font-size-adaptiv(60px,20px,1600,320px);
		}
		
}

.text {
	.font(14px, 30px, "Montserrat__Regular", @text-color);
	@media screen and(max-width:1600px)  {
		.font-size-adaptiv(14px,10px,1600,320px);
	}
	
}

.text--m {
	margin-top: 60px;
}

.header__text {
	.font(18px, 30px, "Montserrat__Bold");
	grid-column: col-start 1/span 1;
	grid-row: col-start 3/span 1;
	justify-self: row;
	margin-left: 40px;
	align-self: center;

	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

.header__image {
	&:extend(.pos-rel);

	width: 100%;
	margin-left: -50px;

	grid-row: col-start 2/span 1;
	grid-column: col-start 2/span 2;
	align-self: center;
	
}

.header__image:before {
	content: '';

	.wh(33.958vw, 33.958vw);
	.pos-a(50%, 50%);
	z-index: -1;

	transform: translate(50%, -50%);
	border-radius: 50%;
	background-color: @main-color;
}

.header__image img {
	position: relative;
	width: 100%;
	transition: transform 1s ease;
}

.header__image img:hover {
	transform: scale(1.1);
}
